<form class="matelook_create_account" method="POST" action="?url=create_account">
	ZID(*):<input type="text" name="zid"><br><p>
	USERNAME(*):<input type="text" name="username"><br><p>
	PASSWORD(*):<input type="password" name="password"><br><p>
	PASSWORD AGAIN(*):<input type="password" name="password_again"><br><p>
	EMAIL(*):<input type="text" name="email"><br><p>
	BIRTHDAY:<input type="text" name="birthday"><br><p>
	HOME SUBURB:<input type="text" name="home_suburb"><br><p>
	PROGRAM:<input type="text" name="program"><br><p>
	COURSE:<input type="text" name="course"><br><p>
	<font size="2" color="red"><p>Reminder: Information with * cannot be empty.</p></font><br>
	<input type="submit" value="SUBMIT">
	<input type="reset" value="RESET">
</form>