<table>
<tr>
<td>
<form name="mate_homepage" method="POST" action="?url=mate_homepage">
<a href="javascript:;" onclick="parentNode.submit();">
<img src="{profile}" alt="No Profile" width="30" height="30">
</a>
<input type="hidden" name="zid" value="{mate_id}">
<input type="hidden" name="current_user" value="{current_user}">
</form>
</td>
<td>
<form name="mate_homepage" method="POST" action="?url=mate_homepage">
<a href="javascript:;" onclick="parentNode.submit();"><p>{mate_name}</p></a>
<input type="hidden" name="zid" value="{mate_id}">
<input type="hidden" name="current_user" value="{current_user}">
</form>
</td>
</tr>
</table>
<br>
