<div>
<textarea name="new_comment" form="new_comment" rows="10" cols="80" placeholder="Make you comment..."></textarea>
<form id="new_comment" method="POST" action="?url=new_comment">
<input type="submit" value="COMMENT">
<input type="hidden" name="post_id" value="{post_id}">
<input type="hidden" name="time" value="{time}">
<input type="hidden" name="message" value="{message}">
<input type="hidden" name="current_user" value="{current_user}">
<input type="hidden" name="zid" value="{zid}">
</form>
</div>