<div style="text-indent: 50px" >
<form name="mate_homepage" method="POST" action="?url=mate_homepage">
<a href="javascript:;" onclick="parentNode.submit();">{from_zid_reply_name}</a>: {reply}
<input type="hidden" name="zid" value="{from_zid_reply}">
<input type="hidden" name="current_user" value="{current_user}">
</form>

<table>
<tr>
<td>
<font size="2" color="grey">{time_reply}</font>
</td>
<td>
<form name="recent_post" method="POST" action="?url=delete_reply_confirm">
<a href="javascript:;" onclick="parentNode.submit();">
<font size="3">delete</font>
</a>
<input type="hidden" name="from_zid_reply" value="{from_zid_reply}">
<input type="hidden" name="from_zid_reply_name" value="{from_zid_reply_name}">
<input type="hidden" name="reply" value="{reply}">
<input type="hidden" name="time_reply" value="{time_reply}">
<input type="hidden" name="reply_id" value="{reply_id}">
<input type="hidden" name="current_user" value="{current_user}">
<input type="hidden" name="zid" value="{zid}">
<input type="hidden" name="post_id" value="{post_id}">
<input type="hidden" name="message" value="{message}">
<input type="hidden" name="time" value="{time}">
</form>
</td>
</tr>
</table>
</div>




