<div style="text-indent: 50px" >
<form name="mate_homepage" method="POST" action="?url=mate_homepage">
<a href="javascript:;" onclick="parentNode.submit();">{from_zid_reply_name}</a>: {reply}
<input type="hidden" name="zid" value="{from_zid_reply}">
<input type="hidden" name="current_user" value="{current_user}">
</form>

<table>
<tr>
<td>
<p style="font-size:60%; color=grey">{time_reply}</p>
<input type="hidden" name="from_zid_reply" value="{from_zid_reply}">
<input type="hidden" name="from_zid_reply_name" value="{from_zid_reply_name}">
<input type="hidden" name="reply" value="{reply}">
<input type="hidden" name="time_reply" value="{time_reply}">
<input type="hidden" name="reply_id" value="{reply_id}">
</td>
</tr>
</table>
</div>



