<table>
<tr>
<td>
<form method="POST" action="?url=search_name" align="center">
    <input type="text" name="username">
    <input type="submit" value="Find Your Mates">
    <input type="hidden" name="current_user" value="{current_user}">
</form>
</td>
<td>
<form method="POST" action="?url=search_post" align="center">
    <input type="text" name="post">
    <input type="submit" value="Find Posts">
    <input type="hidden" name="current_user" value="{current_user}">
</form>
</td>
</tr>
</table>
<br>
<br>